@import "tailwindcss";
@import "@sane-ts/shadcn-ui/index.css";
@import "@sane-ts/shadcn-ui/themes/zinc.css";
@source "../node_modules/@sane-ts/shadcn-ui/src/**/*.js";
@source "../node_modules/openapi-docs/src/**/*.js";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
